<div class="banner" style="background-image: linear-gradient(180.49deg, rgba(0, 0, 0, 0) 1.06%, #FFFFFF 72.86%), url(<%= asset_path 'Banner-mind-the-map.png' %>);">
  <div class="banner-content">
    <div class="logo-big">
      <%= image_tag("logo-big.svg") %>
    </div>
    <p>Can you locate places <br> on an unlabeled map ?</p>
    <!-- Lien du bouton passer sur une URL absolu pour permettre de revenir à une page sans search -->
    <a class="btn btn-form btn-lg btn-white btn-pimp" href="<%="#{root_path}#cards-from-paris"%>">Play now</a>
  </div>
</div>

<div class="container" id="cards-from-paris">

  <h2 align="center">Pick a quiz</h2>
  <div class="row">

    <% @themes.each do |theme| %>
      <div class="col-xs-12 col-sm-4">
        <div class="game-card" data-toggle="modal" data-target="#themeModal<%= theme.id %>">
          <div class="card-theme">

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path theme.photo%>');">
              <div class="card-footer">
                <p><%= theme.name %></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- MUST STAY AT THE END -->
<% @themes.each do |theme| %>
    <!-- Modal -->
  <div class="modal fade" id="themeModal<%= theme.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content m-c-h">
        <div class="modal-header m-h">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <%= image_tag(("close.svg"), class: "btn-close-home") %>
          </button>
          <div class="theme-card-pic" style="background-image: url(<%= cl_image_path(theme.photo)%>)">
          </div>
          <h1 class="modal-title text-center" id="exampleModalLabel"><%= @city.name  %> - <%= theme.name %> </h1>
          <p class="text-center">Time to play:</p>
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
              <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#themeModalMulti<%= theme.id %>", class="btn btn-pimp btn-fw text-center">Duo</a>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
              <%= link_to "Solo", theme_games_url(theme.id) , method: :post,  class: "btn btn-pimp btn-fw text-center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% @themes.each do |theme| %>
    <!-- Modal -->
  <div class="modal fade" id="themeModalMulti<%= theme.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content m-c-h">
        <div class="modal-header m-h">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <%= image_tag(("close.svg"), class: "btn-close-home") %>
          </button>
          <h1 class="modal-title text-center">Challenge ton ami(e)</h1>
          <p class="text-center">Envoie ce lien</p>
          <div class="row">
            <div class="col-12-sm offset-3-sm">
              <form class="form-inline text-center">
                <label class="sr-only" for="inlineFormInput">link</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput<%= theme.id %>" value="lien_value">
                <button type="submit" class="btn btn-primary" id="button-copy-theme-<%= theme.id %>">Copy Link</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
