<div class="container" >

  <div class="say-hi">
    <h1 align="center">Hello <%= @user.username %></h1>
  </div>

  <div class="best-scores">

    <div class="title-score">
      <h2>MY BEST SCORES</h2>
    </div>

      <!-- SOLO MODE -->
      <% if @games.empty? || nil %>
      <div class="let-play">
        <div class="row">
          <H2>Alors comme ça on se créé un compte et on veut pas faire sa première partie ?</H2>
        </div>
      </div>
      <div class="let-play">
          <button class="btn btn-primary btn-pimp" id="btn-play-once"><%= link_to 'Play NOW', root_path %></button><p>
        </div>
      </div>
      <% else %>
      <div class="row scores-array">
        <% @games.each do |game| %>
          <div class="scores">

            <img class="scores-image" src="<%= cl_image_path game.theme.photo %>">

            <div class="scores-body text-center">
              <p><%= game.theme.city.name %></p>
              <p><%= game.theme.name %></p>
              <p><strong><%= game.score_one %></strong></p>
            </div>

            <ul class="list-inline scores-controls">
              <li><button class="btn btn-primary btn-pimp"><%= link_to 'Play again', theme_games_path(game.theme_id), method: :post %></button></li>
              <li><button class="btn btn-primary btn-pimp">Challenge a friend</button></li>
              <li><button class="btn btn-primary btn-pimp">Share on Facebook</button></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

  </div> <!-- fin best-scores -->
  <!-- fin de SOLO MODE -->


  <!-- CHALLENGE MODE -->
  <div class="title-score row">
    <h2>MY BEST SCORES</h2>
    <!-- NEVER PLAYED ? -->
    <% if @games.empty? || nil %>
      <div class="let-play">
        <div class="row">
          <H2>Alors comme ça on se créé un compte et on a peur de challenger les copains ?</H2>
        </div>
      </div>

      <div class="let-play">
        <button class="btn btn-primary btn-pimp" id="btn-play-once"><%= link_to 'Go pick a quiz and challenge a friend', root_path %></button>
      </div>

  </div> <!-- fin de title-score row -->

    <% else %>

    <div class="row challenges">
    <% @challenges[0].each do |game| %>
      <div class="challenges-won-lost">
        <h3>CHALLENGES I WON</h3>
        <div class="scores">
          <img class="scores-image" src="<%= cl_image_path game.theme.photo %>">

          <div class="scores-challenges text-center">
            <p><%= game.theme.city.name %></p>
            <p><%= game.theme.name %></p>
            <p><strong><%= game.score_one %></strong></p>
          </div> <!-- fin scores-challenges -->
        </div> <!-- scores -->
    <% end %>

      </div> <!-- fin challenges-won-lost -->

      <% @challenges[1].each do |game| %>
      <div class="challenges-won-lost">
        <h3>CHALLENGES I LOST</h3>
        <div class="scores">
          <img class="scores-image" src="<%= cl_image_path game.theme.photo %>">

          <div class="scores-challenges text-center">
            <p><%= game.theme.city.name %></p>
            <p><%= game.theme.name %></p>
            <p><strong><%= game.score_one %></strong></p>
          </div> <!-- fin de scores-challenges -->

        </div> <!-- fin de scores -->

      </div> <!-- fin challenges-won-lost -->
      <% end %>

    </div> <!-- fin row challenges -->

    <% end %> <!-- fin de games.empty? -->
  </div> <!-- fin de title-score row -->

</div> <!-- fin de container -->

<!--         <div class="row">
          <div class="col-xs-12 col-md-4 text-center">
            <button class="btn btn-primary btn-fw btn-pimp">Play again</button>
          </div>
          <div class="col-xs-12 col-md-4 text-center ">
            <button class="btn btn-primary btn-fw btn-pimp">Challenge a friend</button>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <button class="btn btn-primary btn-fw btn-pimp">Share on Facebook</button>
          </div>
        </div> -->
