<div class="container" >

  <div class="say-hi">
    <h1 align="center">Hello <%= @user.username %></h1>
  </div>

  <div class="best-scores">

    <div class="title-score">
      <h2>MY BEST SCORES</h2>
    </div>

      <% if @games.empty? || nil %>
      <div class="let-play">
        <div class="row">
          <H2>Alors comme ça on se créé un compte et on veut pas faire sa première partie ?</H2>
        </div>
      </div>
      <div class="let-play">
          <button class="btn btn-primary btn-pimp" id="btn-play-once"><%= link_to 'Play NOW', root_path %></button><p>
        </div>
      </div>
      <% else %>
      <div class="row scores-array">
        <% @games.each do |game| %>
          <div class="scores">

            <img class="scores-image" src="<%= cl_image_path game.theme.photo %>">

            <div class="scores-body text-center">
              <p><%= game.theme.city.name %></p>
              <p><%= game.theme.name %></p>
              <p><strong><%= game.score_one %></strong></p>
            </div>

            <ul class="list-inline scores-controls">
              <li><button class="btn btn-primary btn-pimp"><%= link_to 'Play again', theme_games_path(game.theme_id), method: :post %></button></li>
              <li><button class="btn btn-primary btn-pimp">Challenge a friend</button></li>
              <li><button class="btn btn-primary btn-pimp">Share on Facebook</button></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
<!--         <div class="row">
          <div class="col-xs-12 col-md-4 text-center">
            <button class="btn btn-primary btn-fw btn-pimp">Play again</button>
          </div>
          <div class="col-xs-12 col-md-4 text-center ">
            <button class="btn btn-primary btn-fw btn-pimp">Challenge a friend</button>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <button class="btn btn-primary btn-fw btn-pimp">Share on Facebook</button>
          </div>
        </div> -->
