<div class="score-flex">
  <div class="row-pin">
    <%= image_tag "pin_score.svg", class:"icon-pin"%>
    <p class="score-distance text-center"><%= answer.distance %> meters</p>
  </div>
  <div class="row-time">
    <%= image_tag "time_score.svg", class:"time"%>
    <p><%= answer.time_to_respond %> s</p>
  </div>
</div>
<div class="score-answer text-center">
  <h1><%= answer.score %> points</h1>
</div>

  <% if next_poi.nil? %>
    <%= link_to game_url(game), method: :patch do %>
      <div class="btn-play"></div>
    <% end %>
  <% else %>
    <%= link_to game_poi_url(game, next_poi) do %>
      <div class="btn-play"></div>
    <% end %>
  <% end %>

<div class="button-answer btn-pimp-w btn-fw-2 text-center btn-mobile-none">
  <% if next_poi.nil? %>
    <%= link_to "Your score" , game_url(game), method: :patch %>
  <% else %>
    <%= link_to "Next" , game_poi_url(game, next_poi) %>
  <% end %>
</div>
