<div
  id="map"
  style="width: 100vw;
  height: 100vh;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
  data-game="off"


></div>
<%= @next_poi %>
<% if @next_poi.nil? %>
<%= link_to "see score" , game_url(@game) %>
<% else %>
<%= link_to "next POI" , game_poi_url(@game,@next_poi) %>
<% end %>
<!-- @poi.latitude <%= @poi.latitude  %> <br>
@poi.longitude<%= @poi.longitude  %><br>
@answer.longitude<%= @answer.longitude  %><br>
@answer.latitude<%= @answer.latitude  %><br>

 -->
