<br>
<br>


<h1 class= 'text-center'>Leaderboard</h1>

<!-- city tabs: only Paris for Demo Day -->
<h2>Paris</h2>

<!-- theme tabs -->
<ul class="nav nav-tabs" role="tablist">
  <% @themes.each do |theme| %>
    <li role="presentation" class="<%= 'active' if theme == @themes.first %>">
      <a href="#theme-<%= theme.id %>" aria-controls="<%= theme.id %>" role="tab" data-toggle="tab">
        <%= theme.name %></a>
    </li>
  <% end %>
</ul>

<!-- bootstrap js content -->
<div class="tab-content">
  <% @games.each do |theme_id, games| %>
    <div class="tab-pane <%= 'active' if theme_id == @themes.first.id %>" id="theme-<%= theme_id %>" role="tabpanel" aria-labelledby="<%= theme_id %>-tab">
      <%= render "leaderboard_theme", games: games %>
    </div>
  <% end %>
</div>

