<br>
<br>
<br>
<br>
<br>

<!-- drop down cities -->
<%= form_tag leaderboard_path, method: :get do  %>
  <%= select_tag 'city', options_for_select(@cities.map { |city| city.name },
    params[:city]),
    placeholder: "Choose a city" %>
    <%= select_tag 'theme', options_for_select(@themes.map { |theme| theme.name },
    params[:theme]),
    placeholder: "Choose a theme" %>
    <%= submit_tag %>
<% end %>

<div class="container">

  <div class="row">
    <div class="col-xs-3">
      <p>Rank</p>
    </div>
    <div class="col-xs-3">
      <p>Username</p>
    </div>
    <div class="col-xs-3">
      <p>toto</p>
    </div>
    <div class="col-xs-3">
      <p>Score</p>
    </div>
  </div>

    <%  @games.each_with_index do |game, index| %>
      <div class="row">
        <div class="col-xs-3">
          <p><%= "#{index}" %></p>
        </div>
        <div class="col-xs-3">
          <p><%= game.user_one.username %></p>
        </div>
        <div class="col-xs-3">
          <img class="scores-image" src="<%= cl_image_path game.user_one.photo %>">
        </div>
        <div class="col-xs-3">
          <p><%= game.score_one %></p>
        </div>
      </div>
    <% end %>
</div>

