<div class="container">

  <div class="title">
    <%= image_tag("rocket.svg") %>
    <h1>CONGRATS</h1>
    <%= image_tag("rocket.svg") %>
  </div>

  <div class="score-title text-center">
    <h2>Your score:</h2>
    <h4><%= @game.score_one %> points</h4>
  </div>

  <div class="container-main">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-center">
        <div class="map map-container">
          <div id="map"  style="height: 100vh;" data-markers="<%= @markers.to_json %>"
          data-game="off"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"><!-- debut map jeremy -->
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 text-center">

        <div class="POI-list">
          <p>The <%= @game.theme.name %> you discovered: </p>
          <div class="POI-list-container">
            <div class="row">
              <% @pois.each do |poi| %>
                <div class="col-xs-12 col-md-6 game-card-col text-center">
                  <!-- Button trigger modal -->
                  <div class="game-card" data-toggle="modal" data-target="#poiModal<%= poi.id %>">
                    <div class="game-card-pic" style="background-image: url(<%= cl_image_path(poi.photo)%>)"></div>
                    <div class="game-card-title">
                      <%= poi.name %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <button class="btn btn-primary btn-fw btn-pimp">Play again</button>
      </div>
      <div class="col-xs-12 col-md-4 text-center ">
        <button class="btn btn-primary btn-fw btn-pimp">Challenge a friend</button>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <button class="btn btn-primary btn-fw btn-pimp">Share on Facebook</button>
      </div>
    </div>

  </div>

</div>
<!-- MUST STAY AT THE END -->
<% @pois.each do |poi| %>
    <!-- Modal -->
  <div class="modal fade" id="poiModal<%= poi.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content m-c">
          <div class="modal-header m-h">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <%= image_tag(("close.svg"), class: "btn-close") %>
            </button>
            <h2 class="modal-title text-center" id="exampleModalLabel"><%= poi.name  %></h2>
            <div class="POI-mod-header" style="background-image: url(<%= cl_image_path(poi.photo)%>)">
            </div>
          </div>
          <div class="modal-body">
            <p><%= poi.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
