<% content_for :meta_title, "#{@game.user_one.first_name} has challenged you on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{@game.theme.name}, #{@game.theme.city.name}" %>

<% content_for :meta_image, @theme.photo %>

<div class="container-banner container-game-show">

  <div class="title">
    <%= image_tag("rocket.svg") %>
    <h1>CONGRATS</h1>
    <%= image_tag("rocket.svg") %>
  </div>

  <div class="score-title text-center">
    <h2>Your score: <%= @total_score %> / <%= @max_score %></h2>
    <% if @game.multi %>
      <% if @total_score_opponent.nil? %>
        <div class="score-title text-center">
          <h2>Your opponent has not played yet</h2>
        </div>
      <% else %>
        <div class="score-title text-center">
          <%= @opponent_name %>  score: <%= @total_score_opponent %> points</h2>
          <% if @total_score > @total_score_opponent %>
            <img src="https://media.giphy.com/media/bVivPTy6pO6ru/giphy.gif" alt="you re the best" tyle="max-height: 150px;">
            <p>You're the best! arouuund!!!</p>
          <% elsif @total_score == @total_score_opponent %>
             Wow perfect tie...  I would not have taught this would happen
          <% else %>
            <img src="https://media.giphy.com/media/7nMfkppqka9mo/giphy.gif" alt="loser" style="max-height: 150px;">
            <p>Alas... you lost this game!</p>
          <% end %>
        </div>
      <% end %>
    <%else%>
    <%end%>
  </div>

  <div class="btn-wrapper row text-center">
    <% if @game.multi %>
     <!-- si c'est deja un jeu en multi charge juste la modal-->
      <div class="col-sm-12 col-md-4 text-center">
        <%= link_to "Challenge a friend",
          "#",
          data: { toggle: "modal", target: "#ModalMulti" },
          class: "btn btn-primary btn-fw btn-pimp-w"
        %>
      </div>

    <% else %>
    <!-- si c'est un jeu en solo, update la base puis charge juste la modal-->
      <div class="col-sm-12 col-md-4 text-center">
        <%= link_to "Challenge a friend",
          game_updatebis_path(@game,
          game:{multi: true}),
          data: { method: :patch, remote: true },
          class: "btn btn-primary btn-fw btn-pimp btn-pimp-w"
        %>
      </div>
    <% end %>

    <div class="col-sm-12 col-md-4">
      <%= link_to 'Improve your score: play again',
        theme_games_url(@theme.id,
        game:{multi: false}),
        method: :post,
        class: "btn btn-pimp btn-fw"
      %>
     </div>

    <div class="col-sm-12 col-md-4">
      <%= link_to 'Leaderboard', leaderboard_path, class: "btn btn-pimp btn-fw btn-pimp-w" %>
    </div>
  </div>


  <div class="results-listing">

    <div id="map" class="map-show";" data-markers="<%= @markers.to_json %>" data-game="off" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-zoom=11>
    </div>


    <div class="POI-list" >
      <p>The <%= @game.theme.name %> you discovered: </p>
      <div class="row">
        <div class="POI-list-container">
          <% @pois.each do |poi| %>

            <div class="game-card-col col-xs-12 col-sm-6 text-center">
              <!-- Button trigger modal -->
              <div class="game-card" data-toggle="modal" data-target="#poiModal<%= poi.id %>">
                <div class="game-card-pic" style="background-image: url(<%= cl_image_path(poi.photo, width: 400, height: 175, crop: :fill) %>)"></div>
                <div class="game-card-title"><%= poi.name %></div> <!-- fin de game-title-->
              </div> <!-- fin de game-card-->
            </div> <!-- fin de game-card-col -->
          <% end %>
        </div> <!-- fin de POI-list-container-->
      </div> <!-- fin de row POI-list-->
    </div> <!-- fin de POI-list-->


  </div> <!-- fin de result -->
</div>



<!-- hidden modal that we don't use on this page -->
<div id="themeModal<%= @game.theme.id %>" style="display: none;">
  <a href="#" class="close"> </a>
</div>
<!-- hidden button déclenché au clic sur challenge a friend -->
<button type="button" class="btn btn-primary" data-toggle="modal" id="hidden-button" data-target="#ModalMulti" style="display: none;">
</button>

<!-- modal city -->
<div class="modals">
  <% @pois.each do |poi| %>
      <!-- Modal -->
    <div class="modal fade" id="poiModal<%= poi.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content m-c">
          <div class="modal-header m-h">
            <div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <%= image_tag(("close.svg"), class: "btn-close") %>
              </button>
            </div>
            <div>
              <h2 class="modal-title text-center" id="exampleModalLabel"><%= poi.name  %></h2>
            </div>
            <div class="POI-mod-header" style="background-image: url(<%= cl_image_path(poi.photo)%>)">
            </div> <!-- fin de POI-mod-header -->
          </div> <!-- fin de modal-header -->

          <div class="modal-body">
            <p><%= poi.description %></p>
          </div> <!-- fin de modal-body-->
        </div> <!-- fin de modal-content -->
      </div> <!-- fin de modal-dialog -->
    </div><!-- fin de modal-fade -->
  <% end %>
</div>

  <!-- Modal multi-->
<div class="modal fade" id="ModalMulti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-c-h">
      <div class="modal-header m-h">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag(("close.svg"), class: "btn-close-home") %>
        </button>
        <h1 class="modal-title text-center">Challenge your friend </h1>
        <p class="text-center">Copy and share the link below</p>
        <div class="row">
          <div class="col-12-sm offset-3-sm">
            <form class="form-inline text-center">
              <label class="sr-only" for="LinkChallenge">link</label>
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="LinkChallenge" value="<%= new_game_challenge_url(@game) %>">
              <button class="btn btn-primary" id="button-copy-theme" onclick="copyToClip();">Copy Link</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
