<div class="container" id="flex-container-signin">
  <div class="flex-items">
    <div class="registration-box">
      <div class="row">
        <h2 class="text-center">Log in</h2>
        <p class="alert"><%= alert %></p>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Log in", class: "btn btn-primary btn-form btn-pimp" %>
            </div>
            <div class="text-center">
              <%= render "devise/shared/links" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
