<% content_for :meta_title, "# has challenged you on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Will you accept the challenge #{@game.theme.name}, #{@game.theme.city.name}? See if you can manage to beat your friend" %>

<% content_for :meta_image, @theme.photo %>

<div class="container container-challenge">
  <div class="row">
    <div class="col-md-6 col-md-offset-3  text-center">


      <!-- checker si le jeux est un multi true -->
      <% if @game.multi? %>
      <h1>Challenge can you beat on the theme <%= @theme.name  %></h1>

      <!-- si c'est le cas regarder si l'utilisateur est loggué -->
        <% if user_signed_in? %>
      <!-- si l'utilisateur est loggé je regarde si c'est user_one -->
            <% if current_user.id == @game.user_one.id  %>
              <h1> you can challenge yourself moron</h1>
              <p>Just share this link with the buddy you want to challenge</p>
            <% else %>
              <%= link_to "Challenge Accepted", game_challenge_url(@game) , method: :post,  class: "btn btn-pimp btn-fw text-center" %>
            <% end %>
        <% else %>
          <!-- le user est pas loggué... je lui montre le jeux (c'est du multi) mais je dois lui affiché une login form too -->
          you need to loggin to participate


        <% end %>
      <% else  %>
        <h1>Oupsy doupsy!</h1>
        <h2> This game was not created as a challenge. </h2>
        <p> Go back to <%= link_to "homepage", root_url %> to pick your own game or try the quizz on <%= @theme.name  %></p>

         <%= link_to "Solo", theme_games_url(@theme.id , game: {multi: false}), method: :post,  class: "btn btn-pimp btn-fw text-center"   %>


      <% end %>






    </div>
  </div>
</div>
