<div class="POI_counter">
  <h2><%= @counter_left %>/<%= @counter_total %></h2>
</div>
<div class="POI_name text-center">
  <h2><%= @poi.name %></h2>
</div>

<div class="wrapper-map">
  <div
    id="map"
    style="width: 100vw;
    height: 84vh;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-game="on">
    <div class="position-right">
      <%= render 'shared/bar_timer' %>
    </div>
  </div>
</div>

<div class="menu-score-parent">
  <div class="menu-score" id="score">
    <%# empty container to display the answer %>
    <div class="menu-score-container" id="items"></div>
  </div>
</div>

<div style="display: none;">
  <%= simple_form_for([@game, @poi, @answer], remote: true) do |f| %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :time_to_respond %>
    <%= f.submit id: "answer-button", class: "btn btn-primary btn-pimp"%>
  <% end %>
</div>
