<div>
  <h2> <%= @counter_left %>/<%= @counter_total %> - <%= "Can you find the #{@poi.name}?" %></h2>
</div>

<div class="wrapper-map">
  <div
    id="map"
    style="width: 100vw;
    height: 100vh;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-game="on">
    <div class="position-right">
      <%= render 'shared/bar_timer' %>
    </div>
  </div>
</div>

 <div style="display:none;" >
     <%= simple_form_for([@game, @poi, @answer], remote: true) do |f| %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
        <%= f.input :time_to_respond %>
        <%= f.submit id: "answer-button", class: "btn btn-primary btn-pimp"%>
      <% end %>
 </div>

<%# empty container to display the answer %>
<div class="menu-map-container"></div>

<!-- <script type="text/javascript">
 setTimeout(function() {
   const form = document.getElementById('new_answer');
   form.submit();
 }, 13000);
</script>
 -->
