<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mind the Map - Learn to know your city</title>
    <meta name="description" content="If you just moved to a new city or plan on moving, you know how difficult it can be to memorize its key locations. With Mind the map you can know learn and play. ">
    <meta name="keywords" content="geography, game">



    <!-- Social networks OG -->
    <meta property="og:type" content="game">
    <meta property="og:title" content="Mind the Map: the first geography game on a city-level!">
    <meta property="og:description" content="Challenge your friends to see who knows the city best.">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="Mind the Map">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path 'favicon.png' %>" />
    <link rel="manifest" href="<%= asset_path 'manifest.json.erb' %>">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
  </head>

  <body>
    <%# unless (params[:controller] == 'pois' && params[:action] == 'show')|| (params[:controller] == 'answers' && params[:action] == 'show') %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    <%# end %>
    <%= yield %>
    <% unless (params[:controller] == 'pois' && params[:action] == 'show')|| (params[:controller] == 'answers' && params[:action] == 'show') %>
    <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
